<%-include('header.ejs')%>
<%-include('navbar.ejs')%>

<%-include('banner.ejs')%>
	

    
    <!--/ ABOUT SECTION -->   
    <section id="about page" class="about page-wrapper">
        <div class="container">
                    <div style="margin-top:250px ;"  data-scroll-reveal="enter from the bottom after 0.3s" class="title text-center">
                        <h2>about page</h2>
                       
                                                
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat, consequuntur quia necessitatibus numquam saepe similique at nulla, blanditiis error dolor placeat totam nam iure ad? Obcaecati exercitationem placeat sequi vitae.</p>
                        <hr>
                    </div><!-- end title -->
        
            <div class="row text-center">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div data-scroll-reveal="enter from the bottom after 0.4s" class="about-box">
                            <div class="about-border"> <i class="fa fa-tablet aligncenter"></i></div>
                            <h3>Office Contact</h3>
                            <p><i class="fa fa-map-marker-alt"></i>X Stock Manager , Indore, India</p>
                                <p><i class="fa fa-phone-alt"></i>XXX XXX XXXX</p>
                                <p><i class="fa fa-envelope"></i>StockManager@mail.com</p>
                            
                        </div>
                    </div><!-- end column -->
            
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div data-scroll-reveal="enter from the bottom after 0.5s" class="about-box">
                                <div class="about-border"> <i class="fa fa-bars aligncenter"></i></div>
                                <h3>Service Area</h3>
                                <a href="">Ecommerce Support</a>
                                <a href="">Product Selling</a>
                                <a href="">Factory Outlet Support</a>
                                
                        </div>
                    </div><!-- end column -->
            
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div data-scroll-reveal="enter from the bottom after 0.5s" class="about-box">
                                <div class="about-border"> <i class="fa fa-folder-o aligncenter"></i></div>
                                <h3>Usefule Pages</h3>
                                <a href="">About Us</a>
                                <a href="">Contact Us</a>
                                <a href="">service</a>
                                

                                
                        </div>
                    </div><!-- end column -->
            
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div data-scroll-reveal="enter from the bottom after 0.5s" class="about-box">
                                <div class="about-border"> <i class="fa fa-gear aligncenter"></i></div>
                                <h3>Submit Query</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulpu
                                        </p>
                                        <div class="form">
                                            <input class="form-control" placeholder="Email here">
                                            <button class="btn" style="background-color:black;">Submit</button>
                                        </div>
                                    </div>
                                </div>
                               
                        </div>
                    </div><!-- end column -->
            </div><!-- end row -->
        </div><!-- end container -->
    
        <%-include('footer.ejs')%>
        
    