<div class="brand-promotion">
    <div class="container">
        <div class="media row">
            <div class="col-sm-4">
                <div class="brand-content wow fadeIn animated"  style="visibility: visible; "-webkit-animation: fadeIn 700ms 300ms;">
                    <i class="fa fa-lightbulb-o fa-4x pull-left"></i>
                    <div class="media-body">							
                        <h2>Expert Worker</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Curabitur euismod enim a metus adipiscing aliquam.  </p>
                    </div>
                </div>						
            </div>
            <div class="col-sm-4">
                <div class="brand-content wow fadeIn animated" style="visibility: visible; "-webkit-animation: fadeIn 700ms 400ms;">
                    <i class="fa fa-laptop fa-4x pull-left"></i>
                    <div class="media-body">							
                        <h2>Quality work</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Curabitur euismod enim a metus.</p>
                    </div>
                </div>						
            </div>
            <div class="col-sm-4">
                <div class="brand-content wow fadeIn animated"  style="visibility: visible; "-webkit-animation: fadeIn 700ms 500ms;">
                <i class="fa fa-headphones fa-4x pull-left"></i>
                    <div class="media-body">							
                        <h2>24/7 Support</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Curabitur euismod enim a metus adipiscing aliquam.</p>
                    </div>
                </div>						
            </div>
        </div>
    </div>
</div>
<!--/SLIDER SECTION -->
<section id="home" class="sliderwrapper clearfix">

<div class="tp-banner-container">
<div class="tp-banner">
    <ul>
         <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
            <!-- MAIN IMAGE -->
            <img src="images/banner1.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
            <div class="tp-dottedoverlay twoxtwo"></div>

            <!-- LAYER NR. 3 -->
             <div class="tp-caption rev-video  customin customout start"
                data-x="center"
                data-hoffset="0"
                data-y="140"
                data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="1000"
                data-start="500"
                data-easing="Back.easeInOut"
                data-endspeed="300"><hr class="topline"><h2>Web Agency <br> Clean and unique <br> One page Design</h2><hr class="bottomline">
            </div>

            <!-- LAYER NR. 4 -->
             <div class="tp-caption rev-video2 customin customout start"
                data-x="center"
                data-hoffset="0"
                data-y="340"
                data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="2200"
                data-start="500"
                data-easing="Back.easeInOut"
                data-endspeed="300"><p> Growth Your Business <br> With Highly Customize Design</p>
            </div>
        </li>
        
         <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
            <!-- MAIN IMAGE -->
            <img src="images/banner2.jpg" alt="slidebg2"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" style="height:50px ;">
            <div class="tp-dottedoverlay twoxtwo"></div>
            
            <!-- LAYER NR. 3 -->
            <div class="tp-caption rev-video skewfromleft customout"
                data-x="center"
                data-y="140"
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="800"
                data-start="1500"
                data-easing="Power4.easeOut"
                data-endspeed="300"
                data-endeasing="Power1.easeIn"
                data-captionhidden="on"
                style="z-index: 6"><hr class="topline"><h2>Bootstrap Design <br> Simple Clean Design</h2><hr class="bottomline">
            </div>

            <!-- LAYER NR. 4 -->
            <div class="tp-caption rev-video2 skewfromright customout"
                data-x="center" data-hoffset="0"
                data-y="340"
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="800"
                data-start="1700"
                data-easing="Power4.easeOut"
                data-endspeed="300"
                data-endeasing="Power1.easeIn"
                data-captionhidden="on"
                style="z-index: 7"><p>Endless Possibilities</p>
            </div>
        </li>
        
        <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
            <!-- MAIN IMAGE -->
            <img src="images/banner3.jpg"  alt="slidebg3"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
            <div class="tp-dottedoverlay twoxtwo"></div>
            
            <!-- LAYER NR. 3 -->
            <div class="tp-caption rev-video skewfromleft customout"
                data-x="center"
                data-y="140"
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="800"
                data-start="1500"
                data-easing="Power4.easeOut"
                data-endspeed="300"
                data-endeasing="Power1.easeIn"
                data-captionhidden="on"
                style="z-index: 6"><hr class="topline"><h2>ATLAS Builder<br>with your Branding</h2><hr class="bottomline">
            </div>

            <!-- LAYER NR. 4 -->
            <div class="tp-caption rev-video2 skewfromright customout"
                data-x="center" data-hoffset="0"
                data-y="340"
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="800"
                data-start="1700"
                data-easing="Power4.easeOut"
                data-endspeed="300"
                data-endeasing="Power1.easeIn"
                data-captionhidden="on"
                style="z-index: 7"><p>And we make your digital projects</p>
            </div>
        </li>
      </ul>
      <div class="tp-bannertimer"></div>
</div>
</div>
</section><!-- end slider-wrapper -->  



<!-- <section id="features" class="feature-wrapper"> -->
<!-- <div class="container"> -->
<!-- <div data-scroll-reveal="enter from the bottom after 0.3s" class="title text-center" data-scroll-reveal-id="2" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true"> -->
            <!-- <h2></h2> -->
            <!-- <p>-</p> -->
            <!-- <hr> -->
        <!-- </div> -->
<!-- <div data-scroll-reveal="enter from the bottom after 0.4s" class="feature-img"> -->
    <!-- <img class="img-responsive" src="demos/home_01.png" alt="">  -->
<!-- </div> -->
            <!-- </div>end blog-carousel      -->
        <!-- </div>end owl-blog -->
    <!-- </div>end widget -->
<!-- </div>end col-lg-6 -->
<!-- </div>end container -->
<!-- </section>end grey-wrapper -->