
    <!--/HEADER SECTION -->
    <!-- <header class="header"> -->
        <div class="container" style="padding-bottom: 90px;">
            <div class="navbar navbar-default" role="navigation" style="background-color:black;">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a href="index.html" class="navbar-brand">STOCK MANAGER </a>
                    </div><!-- end navbar-header -->
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a data-scroll href="/user" class="int-collapse-menu" style="color:rgb(231, 162, 33) ;">User home</a></li>
                          <li><a data-scroll href="/user/funds" class="int-collapse-menu"style="color:rgb(231, 162, 33) ;">Funds</a></li>
                        <!--<li><a data-scroll href="/contact" class="int-collapse-menu">Contact</a></li>
                        <li><a data-scroll href="/service" class="int-collapse-menu">Services</a></li>
                        <li><a data-scroll href="/register" class="int-collapse-menu">Register</a></li> -->
                        <!-- <li><a data-scroll href="/product" class="int-collapse-menu">products</a></li>  -->
                        <li><a data-scroll href="/login" class="int-collapse-menu" style="color:rgb(231, 162, 33) ;">Logout</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
        
                </div><!--/.container-fluid -->
                <font style="color:whitesmoke; margin-left: 450px; font-size: medium;" >Welcome User:<%- sunm%></font>       
            </div>
        </div><!-- end container -->
        
    </header><!-- end header -->